<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lz.manage.mapper.SignInfoMapper">

    <resultMap type="SignInfo" id="SignInfoResult">
        <result property="id"    column="id"    />
        <result property="appointmentId"    column="appointment_id"    />
        <result property="libraryId"    column="library_id"    />
        <result property="seatId"    column="seat_id"    />
        <result property="certificateImage"    column="certificate_image"    />
        <result property="signType"    column="sign_type"    />
        <result property="remark"    column="remark"    />
        <result property="userId"    column="user_id"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectSignInfoVo">
        select id, appointment_id, library_id, seat_id, certificate_image, sign_type, remark, user_id, create_time, update_by, update_time from tb_sign_info
    </sql>

    <select id="selectSignInfoList" parameterType="SignInfo" resultMap="SignInfoResult">
        <include refid="selectSignInfoVo"/>
        <where>
            <if test="id != null "> and id = #{id}</if>
            <if test="appointmentId != null "> and appointment_id = #{appointmentId}</if>
            <if test="libraryId != null "> and library_id = #{libraryId}</if>
            <if test="seatId != null "> and seat_id = #{seatId}</if>
            <if test="signType != null  and signType != ''"> and sign_type = #{signType}</if>
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="params.beginCreateTime != null and params.beginCreateTime != '' and params.endCreateTime != null and params.endCreateTime != ''"> and DATE_FORMAT(create_time, '%Y-%m-%d') between #{params.beginCreateTime} and #{params.endCreateTime}</if>
            <!-- 数据范围过滤 -->
            ${params.dataScope}
        </where>
        order by create_time desc
    </select>

    <select id="selectSignInfoById" parameterType="Long" resultMap="SignInfoResult">
        <include refid="selectSignInfoVo"/>
        where id = #{id}
    </select>

    <insert id="insertSignInfo" parameterType="SignInfo" useGeneratedKeys="true" keyProperty="id">
        insert into tb_sign_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="appointmentId != null">appointment_id,</if>
            <if test="libraryId != null">library_id,</if>
            <if test="seatId != null">seat_id,</if>
            <if test="certificateImage != null and certificateImage != ''">certificate_image,</if>
            <if test="signType != null and signType != ''">sign_type,</if>
            <if test="remark != null">remark,</if>
            <if test="userId != null">user_id,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="appointmentId != null">#{appointmentId},</if>
            <if test="libraryId != null">#{libraryId},</if>
            <if test="seatId != null">#{seatId},</if>
            <if test="certificateImage != null and certificateImage != ''">#{certificateImage},</if>
            <if test="signType != null and signType != ''">#{signType},</if>
            <if test="remark != null">#{remark},</if>
            <if test="userId != null">#{userId},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateSignInfo" parameterType="SignInfo">
        update tb_sign_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="appointmentId != null">appointment_id = #{appointmentId},</if>
            <if test="libraryId != null">library_id = #{libraryId},</if>
            <if test="seatId != null">seat_id = #{seatId},</if>
            <if test="certificateImage != null and certificateImage != ''">certificate_image = #{certificateImage},</if>
            <if test="signType != null and signType != ''">sign_type = #{signType},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteSignInfoById" parameterType="Long">
        delete from tb_sign_info where id = #{id}
    </delete>

    <delete id="deleteSignInfoByIds" parameterType="String">
        delete from tb_sign_info where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
