<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lz.manage.mapper.ViolationInfoMapper">
    
    <resultMap type="ViolationInfo" id="ViolationInfoResult">
        <result property="id"    column="id"    />
        <result property="libraryId"    column="library_id"    />
        <result property="name"    column="name"    />
        <result property="cause"    column="cause"    />
        <result property="startTime"    column="start_time"    />
        <result property="endTime"    column="end_time"    />
        <result property="status"    column="status"    />
        <result property="remark"    column="remark"    />
        <result property="userId"    column="user_id"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectViolationInfoVo">
        select id, library_id, name, cause, start_time, end_time, status, remark, user_id, create_time, update_by, update_time from tb_violation_info
    </sql>

    <select id="selectViolationInfoList" parameterType="ViolationInfo" resultMap="ViolationInfoResult">
        <include refid="selectViolationInfoVo"/>
        <where>  
            <if test="id != null "> and id = #{id}</if>
            <if test="libraryId != null "> and library_id = #{libraryId}</if>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="params.beginCreateTime != null and params.beginCreateTime != '' and params.endCreateTime != null and params.endCreateTime != ''"> and DATE_FORMAT(create_time, '%Y-%m-%d') between #{params.beginCreateTime} and #{params.endCreateTime}</if>
        </where>
    </select>
    
    <select id="selectViolationInfoById" parameterType="Long" resultMap="ViolationInfoResult">
        <include refid="selectViolationInfoVo"/>
        where id = #{id}
    </select>

    <insert id="insertViolationInfo" parameterType="ViolationInfo" useGeneratedKeys="true" keyProperty="id">
        insert into tb_violation_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="libraryId != null">library_id,</if>
            <if test="name != null and name != ''">name,</if>
            <if test="cause != null">cause,</if>
            <if test="startTime != null">start_time,</if>
            <if test="endTime != null">end_time,</if>
            <if test="status != null and status != ''">status,</if>
            <if test="remark != null">remark,</if>
            <if test="userId != null">user_id,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="libraryId != null">#{libraryId},</if>
            <if test="name != null and name != ''">#{name},</if>
            <if test="cause != null">#{cause},</if>
            <if test="startTime != null">#{startTime},</if>
            <if test="endTime != null">#{endTime},</if>
            <if test="status != null and status != ''">#{status},</if>
            <if test="remark != null">#{remark},</if>
            <if test="userId != null">#{userId},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateViolationInfo" parameterType="ViolationInfo">
        update tb_violation_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="libraryId != null">library_id = #{libraryId},</if>
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="cause != null">cause = #{cause},</if>
            <if test="startTime != null">start_time = #{startTime},</if>
            <if test="endTime != null">end_time = #{endTime},</if>
            <if test="status != null and status != ''">status = #{status},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteViolationInfoById" parameterType="Long">
        delete from tb_violation_info where id = #{id}
    </delete>

    <delete id="deleteViolationInfoByIds" parameterType="String">
        delete from tb_violation_info where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>